
.nav {
  grid-area: nav;
  background-color: darksalmon;
}

.nav > ul {
  list-style-type: none;
  padding-left: 20px;
}

.nav > ul a {
  color: white;
  text-decoration: none;
}

.nav > ul a.active {
  color: gold;
}