.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav content content"
  "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 2fr 10fr;  
  /* grid-gap: 10px; */
}


.app-wrapper-content {
  grid-area: content;
  grid-template-columns: repeat(12, 1fr);
}

.app-wrapper-content > div:nth-child(n+2) {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20%;
}

.app-wrapper-content > div > img {
  height: 180px;
  width: 100%;
}