.friends {
    display: block;
    padding-left: 20px;
}

.friends > h3 {
    color: white;
}

.friends img {
    width: 45px;
    height: 45px;
    border-radius: 40px;
}

.friend {
    color: white;
    padding-right: 10px;
    padding-bottom: 10px;
    display: inline-grid;
}